#header {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#header button {
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

#header button:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

#breadcrumb {
    border: 1px solid black;
    margin: 10px;
    display: flex;
}

#breadcrumb a {
    background-color: tomato;
    padding: 10px;
    border-right: 2px solid black;
    cursor: pointer;
}

#breadcrumb a:hover {
    background-color: wheat;
    text-decoration: underline;
}

#container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.folder {
    background-color: teal;
    color: white;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.folder div[purpose=name] {
    margin-top: 50px;
}

.folder [action]:hover {
    text-decoration: underline;
    cursor: pointer;
    color: lightgreen;
}

.text-file {
    background-color: crimson;
    color: white;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.text-file div[purpose=name] {
    margin-top: 50px;
}

.text-file [action]:hover {
    text-decoration: underline;
    cursor: pointer;
    color: lightgreen;
}

#app {
    border: 1px solid black;
    margin: 10px;
}

#app-title-bar {
    display: flex;
    background-color: cyan;
    height: 40px;
}

#app-title {
    width: 90%;
    text-align: center;
    border-right: 4px solid red;
}

#app-menu-bar {
    display: flex;
    background-color: teal;
    height: 40px;
}

#app-body {
    display: flex;
    background-color: springgreen;
    height: 500px;
}

.notepad-body {
    height: 100%;
    width: 100%;
}

.notepad-body textarea {
    height: 100%;
    width: 100%;
}

.notepad-menu {
    width: 100%;
    padding: 5px;
}

.notepad-menu * {
    margin: 0px 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.notepad-menu span {
    vertical-align: bottom;
}

.notepad-menu span:hover {
    border: 2px solid black;
    background-color: white;
    color: teal;
}

.notepad-menu [pressed=true] {
    border: 2px solid black;
    background-color: white;
    color: teal;
}

.notepad-menu select {
    height: 30px;
}

.notepad-menu input[type=color] {
    width: 30px;
}

[purpose=download]{
    display: none;
}